h1 {
    text-align: center;
}

form {
    display: flex;
    
    margin-top: 200px;
    flex-direction: column;
    align-items: center;
}

form label {
    margin-bottom: 10px;
}

#searchBtn {
    width: 177px;
    margin-top: 10px;
}

#searchBtn:hover {
    cursor: pointer;
}

.dataCard {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}